page-map {
	#mapElement {
		height: 120%;
		width: 100%;
		margin-top: -144px;
	}
	#sb_title{
		width:133.8px;
		height:15.98px;
	}

	.toolbar{
		height: 144px !important;
		background: transparent !important;
	}
	.toolbar-background {
		background: transparent !important;
	    background-image: url('../assets/imgs/map/header_background.svg')!important;
	    background-size: auto 100% !important;
	    background-position: center center !important;
	    background-repeat: no-repeat !important;
	    height: 144px !important;
	}
}
